body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#editor {
  width: 100%;
  min-height: 200px;
}

.appWrap {
  margin: 18px auto;
}

.editorWrap {
  max-width: 600px;
  margin: 30px auto;
}

.previewWrap {
  max-width: 800px;
  margin: 30px auto;
}

.toolbar {
  font-weight: bold;
}

.maximized {
  max-width: 95%;
  min-height: 100vh;
  margin: auto;
}

.hidden {
  display: none;
}

.fa-compress,
.fa-arrows-alt {
  cursor: pointer;
}
